{%  extends 'crudapp/base.html' %}

{% block body %}
    <div class="row">
        <div class="page-header">
            <h3 class="text-center text-primary"><strong>Students</strong></h3>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <th>No.</th>
            <th>First Name</th><th>Last Name</th>
            <th>Admission</th><th>Passport</th><th>Action</th>
            </thead>

            <tbody>
            {% if students %}
                {% for student in students %}
                    <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.firstname }}</td>
                    <td>{{ student.lastname }}</td>
                    <td>{{ student.adm_no }}</td>
                    <td><img src="{{ student.passport.url }}" alt="" style="height: 50px; width: 50px;"> </td>
                    <td><a href="{% url 'crudapp:update' student.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span>Update</a>&nbsp;<a href="{% url 'crudapp:delete' student.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>Delete</a>  </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}