{% extends 'crudapp/base.html' %}
{% block body %}
    <div class="row">
        <div class="page-header">
            <h3 class="text-danger"><strong>Delete</strong> {{ object.firstname }}</h3>
        </div>
    </div>
    <div class="row">
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <h4 class="">Are you sure you want to Delete?</h4>
        <button type="submit" class="btn btn-warning">Delete</button>
        <a href="{% url 'crudapp:index' %}" class="btn btn-info">Cancel</a>
    </div>
    {% include 'crudapp/form-template.html' %}

</form>
    </div>
{% endblock %}